<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/sierrarayne14">Sierra Ponce</a>, a web developer who is on a mission to learn the technical skills needed to launch her own MVPs and turn her ideas into reality.
  </p>
  <br >
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sierra.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sierra Ponce</h2>
      <br />
      <p>
        Sierra Ponce is a student currently enrolled in a coding boot-camp through The UT Austin. Formerly a preschool teacher, she is excited to develop the skills needed to pursue a new career path.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />